<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>A.P.G. Denwick. Dashboard</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/dashboard.css") %>">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  </head>

  <body>
    <div id="elm-wrapper" data-sign_in_path="<%= api_sign_in_path(@conn, :sign_in) %>"
      data-dashboard_path="<%= dashboard_path(@conn, :index) %>"
      data-sign_out_path="<%= sign_in_path(@conn, :sign_out)%>"
      data-after_sign_out_path="<%= sign_in_path(@conn, :index)%>"
      data-websocket_url="<%= apg_socket_url() %>">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/dashboard.js") %>"></script>
  </body>
</html>
