<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>A.P.G. Denwick. Sign In</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/sign_in.css") %>">
  </head>

  <body>
    <div id="elm-wrapper" data-sign_in_path="<%= api_sign_in_path(@conn, :sign_in) %>"
      data-dashboard_path="<%= dashboard_path(@conn, :index) %>"
      data-sign_out_path="<%= sign_in_path(@conn, :sign_out)%>"
      data-after_sign_out_path="<%= sign_in_path(@conn, :index)%>">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>
